* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
}

.header_nav_ul{
    display: flex;
    gap: 15px;
}

header, main, footer {
    width: 90%;
    margin: 25px auto;
    background-color: rgb(228, 228, 228);
    padding: 15px;
    border-radius: 5px;
}

.header_nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}